<h1>
    <%= tournament.title %>
</h1>
<p><%= tournament.subtitle %></p>
<% let showbutton = true; for (person in tournament.enrolled){ if (tournament.enrolled[person] == currentuser.id){ showbutton=false }} if (showbutton==true){%>
    <a href=<%= "/enroll/"+tournament.id %> class="btn btn-info">Enroll</a><br>
    <% } %>
<br>
<div class='dividetourney'>
    <div>
        <table style="width: 400px;">
            <tr>
                <% for (event in tournament.headers){ %>
                    <th>
                        <%= tournament.headers[event] %>
                    </th>
                    <% } %>
            </tr>
            <% for (score in tournament.scores) { %>
                <tr>
                    <% for (item in tournament.scores[score]) { %>
                        <td>
                            <%= tournament.scores[score][item] %>
                        </td>
                        <% } %>
                </tr>
                <% } %>
        </table>
        <br>
        <h4>Add Result</h4>
        <form action="/addresult" method="POST">
            <input placeholder="1st" name="winner">
            <input placeholder="2nd" name="loser">
            <input placeholder="Score ex. '74-62'" name="score">
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <h3>Match History</h3>
        <% for (i in tournament.history) { %>
            <p><%= tournament.history[i].first %> defeated <%= tournament.history[i].second %> <%= tournament.history[i].firstscore %> to <%= tournament.history[i].secondscore %>!</p>
            <% } %>
    </div>
</div>